#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@ --parallel --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DSHARED_LIBS=true \
		-DGENERATE_API_DOC=ON \
		-DDOC_INSTALL_TARGET="share/doc/libpointmatcher-doc/api"
